[submodule "SLADB.wiki"]
	path = SLADB.wiki
	url = git@github.com:NYC-Parks/SLADB.wiki.git
[submodule "IPM_Shared_Code_public"]
	path = IPM_Shared_Code_public
	url = git@github.com:NYC-Parks/IPM_Shared_Code_public.git
